/*
 * -------------------------------------------------
 *  UCT dada2 Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

// Global default params, used in configs
// Some help with time stamps
import java.text.SimpleDateFormat
params {
  name = false
  version = 0.4 //pipeline version
  // Pipeline Options
  reads = "data/*{1,2}.fastq.gz"
  timestamp = new SimpleDateFormat("yyyy-MM-dd").format(new java.util.Date())
  outdir = "./" + timestamp + "-dada2"
  ticket = 0 //for Redmine, not currently used (KL)
  
  // Trimming
  trimFor = false
  trimRev = false
  truncFor = 0
  truncRev = 0
  maxEEFor = 2
  maxEERev = 2
  truncQ = 2 //default
  maxN = 0 //default
  maxLen = "Inf" //default
  minLen = 20 //default
  rmPhiX = "FALSE" 

  // Merging
  minOverlap = 20 //default=12
  maxMismatch = 0 //default
  trimOverhang = "FALSE" // KL: I don't think we have overhangs for WISH project03

  reference = false
  species = false

  // NYI, for dada sample inference pooling (requires all samples)
  pool = false
}

profiles {

  uct_hex{
    includeConfig 'conf/uct_hex.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }
  
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/dada2_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/dada2_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/dada2_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/dada2_DAG.svg"
}

manifest {
  homePage = 'https://github.com/kviljoen/16S-rDNA-dada2-pipeline'
  description = 'Nextflow dada2 analysis pipeline for UCT CBIO'
  mainScript = 'main.nf'
}
