/*
 * -------------------------------------------------
 *  University of Cape Town HEX cluster config file
 * -------------------------------------------------
 * http://hpc.uct.ac.za/index.php/hex-3/
 */

singularity {
   enabled = true
   cacheDir = "/scratch/DB/bio/singularity-containers"
}


//Add dada2 singularity container
process {

    cache = true
    stageInMode='symlink'
    stageOutMode='rsync'

    $plotQual.container='/scratch/DB/bio/singularity-containers/joey711_dada2-base_release-2017-07-29-03bf2587c4b8.img'
    
    }

process {
   executor = 'pbs'
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
   myQueue = 'UCTlong'
   // clusterOptions = { "-M $params.email -m abe -l nodes=1:ppn=1:series600" }
   clusterOptions = { "-M $params.email -m abe" }

   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
}

executor{
   jobName = { "$task.tag" }
}

params {
   max_memory = 256.GB
   max_cpus = 64
   max_time = 1000.h
}
