/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for IGB Biocluster
 * -------------------------------------------------
 */

base = 'UIUC-HPCBio'

process {
    // Global process config
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

    // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c

    // Environment modules and resource requirements
    // TODO: syntax will need to be changed for Nextflow 0.31.0 and higher:
    // https://www.nextflow.io/docs/latest/config.html#process-selectors

    // Trimming, filtering, QC
    withName:runFastQC {
        module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
    }
    withName:runMultiQC {
        module = ['MultiQC/1.6-IGB-gcc-4.9.4-Python-3.6.1']
    }
    withName:itsFilterAndTrim {
        module = ['R-lib/3.5-BioC3.8','cutadapt/1.17-IGB-gcc-4.9.4-Python-3.6.1']
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = 4.GB
    }
    withName:filterAndTrim {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = 4.GB
    }
    withName:runFastQC_postfilterandtrim {
        module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
    }
    withName:runMultiQC_postfilterandtrim {
        module = ['MultiQC/1.6-IGB-gcc-4.9.4-Python-3.6.1']
    }
    withName:mergeTrimmedTable {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = 12.GB
    }

    // Error profiling
    withName:LearnErrorsFor {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = 12.GB
    }
    withName:LearnErrorsRev {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = 12.GB
    }

    // Inferring errors and read merging
    withName:PerSampleInferDerepAndMerge {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 4 * task.attempt, 'cpus') }
        memory = 24.GB
    }
    withName:PoolSamplesInferDerepAndMerge {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 12 * task.attempt, 'cpus') }
        memory = 72.GB
    }

    // Chimera removal
    withName:RemoveChimeras {
        module = ['R-lib/3.5-BioC3.8']
        cpus = { check_max( 8 * task.attempt, 'cpus') }
        memory = 12.GB
    }

    // Taxonomic assignment
    withName:AssignTaxSpeciesRDP {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 12
        memory = 48.GB
    }
    withName:AssignTaxonomyRDP {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 12
        memory = 48.GB
    }
    withName:TaxonomyIDTAXA {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 12
        memory = 48.GB
    }

    // Read alignment
    withName:AlignReadsDECIPHER {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 12
        memory = 48.GB
    }
    withName:AlignReadsInfernal {
        module = ['Infernal/1.1.2-IGB-gcc-4.9.4','Biopython/1.68-IGB-gcc-4.9.4-Python-3.6.1']
        cpus = 12
        memory = 48.GB
    }

    // Phylogenetic tree
    withName:GenerateTreePhangorn {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 2
        memory = 48.GB
    }
    withName:GenerateTreeFasttree {
        module = ['FastTree/2.1.10-IGB-gcc-4.9.4']
        cpus = 12
        memory = 48.GB
    }
    withName:RootTree {
        module = ['R-lib/3.5-BioC3.8']
        cpus = 2
        memory = 12.GB
    }

    // Read tracking
    withName:mergeDadaRDS {
        module = ['R-lib/3.5-BioC3.8']
    }
    withName:SequenceTable {
        module = ['R-lib/3.5-BioC3.8']
    }
    withName:GenerateSeqTables {
        module = ['R-lib/3.5-BioC3.8']
    }
    withName:GenerateTaxTables {
        module = ['R-lib/3.5-BioC3.8']
    }
    withName:BiomFile {
        module = ['R-lib/3.5-BioC3.8','biom-format/2.1.6-IGB-gcc-4.9.4-Python-3.6.1']
    }
    withName:ReadTracking {
        module = ['R-lib/3.5-BioC3.8']
    }
    withName:toQIIME2FeatureTable {
        module = ['QIIME2/2019.4']
    }
    withName:toQIIME2TaxTable {
        module = ['QIIME2/2019.4']
    }
    withName:toQIIME2Seq {
        module = ['QIIME2/2019.4']
    }
    withName:toQIIME2Aln {
        module = ['QIIME2/2019.4']
    }
    withName:toQIIME2Tree {
        module = ['QIIME2/2019.4']
    }
}

params {
  max_memory = 320.GB
  max_cpus = 24
  max_time = 240.h
}
