/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for IGB Biocluster
 * -------------------------------------------------
 */

process {

  // Global process config
  executor = 'slurm'
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }

  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$runMultiQC.module = ['MultiQC/github']

  // Environment modules and resource requirements
  $runFastQC.module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
  $runMultiQC.module = ['MultiQC/1.2-IGB-gcc-4.9.4-Python-2.7.13']
  $filterAndTrim.module = ['R-lib/3.4.2']
  $runFastQC_postfilterandtrim.module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
  $runMultiQC_postfilterandtrim.module = ['MultiQC/1.2-IGB-gcc-4.9.4-Python-2.7.13']
  $mergeTrimmedTable.module = ['R-lib/3.4.2']
  $LearnErrorsFor.module = ['R-lib/3.4.2']
  $LearnErrorsRev.module = ['R-lib/3.4.2']
  $SampleInferDerepAndMerge.module = ['R-lib/3.4.2']
  $mergeDadaRDS.module = ['R-lib/3.4.2']
  $SequenceTable.module = ['R-lib/3.4.2']
  $ChimeraTaxonomySpecies.module = ['R-lib/3.4.2']
  $ChimeraTaxonomy.module = ['R-lib/3.4.2']
  $AlignAndGenerateTree.module = ['R-lib/3.4.2']
  $BiomFile.module = ['R-lib/3.4.2']
  $ReadTracking.module = ['R-lib/3.4.2']


}

params {
  max_memory = 128.GB
  max_cpus = 24
  max_time = 240.h
}
