/*
 * -------------------------------------------------
 *  Nextflow config file with environment modules for IGB Biocluster
 * -------------------------------------------------
 */

base = 'UIUC-HPCBio'

process {

  // Global process config
  executor = 'slurm'

  // NB: Overwrite this in a config file in the working directory (nextflow.config) or with -c
  // if you have your own installation of MultiQC outside of the environment module system.
  // eg: Add the line: process.$runMultiQC.module = ['MultiQC/github']

  // Environment modules and resource requirements
  // TODO: syntax will need to be changed for Nextflow 0.31.0 and higher:
  // https://www.nextflow.io/docs/latest/config.html#process-selectors

  $runFastQC.module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
  $runMultiQC.module = ['MultiQC/0.9']
  $itsFilterAndTrim.module = ['R-lib/3.5:cutadapt/1.17-IGB-gcc-4.9.4-Python-3.6.1']
  $filterAndTrim.module = ['R-lib/3.5']
  $runFastQC_postfilterandtrim.module = ['FastQC/0.11.5-IGB-gcc-4.9.4-Java-1.8.0_152']
  $runMultiQC_postfilterandtrim.module = ['MultiQC/0.9']
  $mergeTrimmedTable.module = ['R-lib/3.5']
  $LearnErrorsFor.module = ['R-lib/3.5']
  $LearnErrorsRev.module = ['R-lib/3.5']
  $SampleInferDerepAndMerge.module = ['R-lib/3.5']
  $mergeDadaRDS.module = ['R-lib/3.5']
  $SequenceTable.module = ['R-lib/3.5']
  $ChimeraTaxonomySpecies.module = ['R-lib/3.5']
  $ChimeraTaxonomy.module = ['R-lib/3.5']
  $AlignReads.module = ['R-lib/3.5']
  $GenerateTreePhangorn.module = ['R-lib/3.5']
  $GenerateTreeFasttree.module = ['FastTree/2.1.10-IGB-gcc-4.9.4']
  $BiomFile.module = ['R-lib/3.5']
  $ReadTracking.module = ['R-lib/3.5']

}

params {
  clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
  max_memory = 128.GB
  max_cpus = 24
  max_time = 240.h
}
